body{
        margin:0;
        padding:0;
        
}
p{
        margin:0;
}
.container{
        width:100%;
        max-width:1170px;
        margin:0 auto;

}
.photo-gallery{
        display: flex;
        flex-wrap: wrap;

}
.item{
        flex: 25%;
        max-width: calc(25% - 8px);
        padding:4px;

}
.item img{
        width: 100%;
        vertical-align: middle;
}